flask
torch
git+https://github.com/huggingface/diffusers.git@refs/pull/5074/head
transformers
opencv-python
pillow
omegaconf
accelerate==0.25.0
safetensors
tqdm
numpy
scipy
huggingface_hub==0.21.4
